@import url("../assets/fonts/font.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Vela Sans", sans-serif;
  color: #00688b;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  margin-bottom: 150px;
  max-width: 1200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  padding: 40px 0 80px 0;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: #f4fcff;
  background: #00a3dd;
}

.header_contacts {
  height: max-content;
}

.header_contacts a:first-child {
  margin-right: 10px;
}

.title_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.title_content img {
  margin-right: 60px;
}

.title_content h1 {
  width: fit-content;
}

.title p {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.schedule {
  display: flex;
  justify-content: space-between;
}

.schedule_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 24px;
}

.schedule_item p:first-child {
  text-align: right;
  font-weight: 600;
  max-width: 155px;
  width: 100%;
}

.schedule_item p:last-child {
  max-width: 275px;
  width: 100%;
}

.news_content {
  display: flex;
  justify-content: space-between;
}

.news_item {
  max-width: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  font-size: 18px;
  font-weight: 600;
}

.news_item div p:last-child {
  font-size: 21px;
  font-weight: 500;
}

.news_item a {
  font-size: 21px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #00688b;
  text-align: center;
  padding: 7px 0;
}

.img_container {
  width: 100%;
  height: 281px;
  background-image: url("../images/excursion.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.history_container_img img {
  float: left;
  max-width: 475px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.history_container_img p {
  font-size: 28px;
  font-weight: 400;
  text-align: justify;
}

.history_memory {
  margin-top: 30px;
}

.history_memory p {
  font-size: 28px;
  font-weight: 400;
}

.history_memory p:first-child {
  font-size: 32px;
  font-weight: 500;
}

.murals_content {
  display: flex;
  justify-content: space-between;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

footer a {
  color: #f4fcff;
}

.footer_title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer_title p {
  font-size: 28px;
  font-weight: 700;
  margin-left: 30px;
}

.footer_column:first-child {
  min-width: 700px;
}

.footer_column p:last-child {
  max-width: 400px;
}

.footer_column:last-child {
  display: flex;
}

.footer_column a {
  font-size: 26px;
  font-weight: 500;
}

.footer_column a.little {
  font-size: 18px;
}

.navigation_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer_social a:first-child {
  margin-right: 10px;
}

.copyright {
  max-width: 1200px;
  margin: 0 auto;
}

.copyright p {
  padding-bottom: 20px;
}

.schedule_services_content {
  display: flex;
  justify-content: center;
}

.schedule_services_item {
  display: flex;
  display: flex;
  flex-direction: column;
}

.schedule_services_item div {
  display: flex;
}

.schedule_services_item div p:first-child {
  margin-right: 10px;
}

.schedule_services_item p:first-child,
.schedule_services_item div p:first-child {
  font-size: 26px;
  font-weight: 600;
}

.schedule_services_item div p:last-child {
  font-size: 24px;
}

.schedule_services_content .vertical_separator {
  height: auto;
}

.sacrament_imgs {
  display: flex;
}

.sacrament_description {
  display: flex;
  font-size: 30px;
  margin-top: 80px;
}

.sacrament_description .gorizontal_separator {
  display: none;
}

.sacrament_description .vertical_separator {
  height: auto;
  margin: 0 40px 0 20px;
}

.sacrament_description .vertical_separator:first-child {
  margin-left: 0;
}

.sacrament_description p {
  font-weight: 600;
}

.sacrament_description ol {
  margin-left: 35px;
}

.contacts {
  text-align: center;
}

.contacts h2 {
  margin-top: 50px;
  margin-bottom: 70px;
}

.contacts p {
  font-size: 40px;
  margin-bottom: 50px;
}

.contacts img {
  height: 58px;
}

@media (min-width: 1921px) {
  body {
    min-height: calc(100vh);
  }

  .main_contacts {
    min-height: calc(100vh - 815px);
  }

  .main {
    min-height: calc(100vh - 765px);
  }
}

@media (max-width: 1200px) {
  .header_contacts {
    display: none;
  }

  .news_item {
    max-width: 270px;
  }

  .murals_content img {
    max-width: 270px;
  }

  .sacrament_imgs {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .schedule_services_item p:first-child,
  .schedule_services_item div p:first-child {
    font-size: 19px;
  }

  .schedule_services_item div p:last-child {
    font-size: 16px;
  }

  .schedule_services_content {
    flex-direction: column;
    align-items: baseline;
    width: fit-content;
    margin: 0 auto;
    gap: 15px;
  }

  .sacrament_description {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .title_content h1 {
    font-size: 51px;
  }
  .footer_wrapper {
    flex-direction: column;
  }

  .footer_title {
    flex-direction: column;
  }

  .schedule img {
    display: none;
  }

  .schedule {
    justify-content: center;
  }

  .footer_title p {
    margin-left: 0;
    text-align: center;
  }

  .footer_column:first-child {
    min-width: 0;
  }

  .footer_column:last-child {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer_column p:last-child {
    text-align: center;
    margin: 0 auto;
  }

  .navigation_item {
    align-items: center;
  }

  .footer_social {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }
  .murals_content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .news_content {
    align-items: stretch;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .schedule {
    justify-content: center;
  }

  .title_content {
    flex-direction: column;
    gap: 20px;
  }

  .title_content img {
    margin-right: 0;
  }

  .title_content h1 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 16px;
    padding: 5px;
  }

  .header_contacts {
    display: none;
  }

  .title_content {
    flex-direction: column;
  }

  .title_content img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .title p {
    font-size: 18px;
  }

  main {
    max-width: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 75px;
  }

  .news_content {
    flex-direction: column;
    gap: 20px;
    align-content: center;
  }

  .history_container_img img {
    max-width: 100%;
  }

  .murals_content {
    flex-direction: column;
    gap: 20px;
    align-content: center;
  }

  .navigation_item {
    align-items: center;
  }

  .footer_social {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  .schedule_services h2 {
    margin-top: 20px;
  }

  .schedule_item {
    font-size: 18px;
  }

  .schedule img {
    display: none;
  }

  .schedule_services_content {
    flex-direction: column;
  }

  .sacrament_imgs {
    flex-direction: column;
  }
  .sacrament_description {
    flex-direction: column;
  }

  .sacrament_description .gorizontal_separator {
    display: block;
  }

  .contacts h2 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .contacts p {
    font-size: 24px;
  }

  .history_container_img p {
    font-size: 16px;
  }

  .date {
    font-size: 16px;
  }

  .news_item div p:last-child {
    font-size: 19px;
  }

  .history_memory p:first-child {
    font-size: 22px;
  }

  .history_memory p {
    font-size: 18px;
  }

  .footer_title p {
    font-size: 22px;
  }

  .footer_column a {
    font-size: 22px;
  }

  .footer_column a.little {
    font-size: 16px;
  }
}
